[Unit]
Description=DOTS daemon

[Service]
Environment=LOGGING_BACKEND=syslog LOGGING_LEVEL=4
Environment="DOTS_ENDPOINT=tcp://0.0.0.0:11235 uds:/run/dotsd.socket"
ExecStart=/usr/sbin/dotsd
ExecStartPost=/bin/sleep 1
#Restart=always
#RestartSec=4
Nice=-6

[Install]
Alias=dotsd.service
WantedBy=multi-user.target
